/* ==========================================================================
   HEADER
   ========================================================================== */

.header {
  position: sticky;
  top: 0;
  z-index: var(--z-header);

  width: 100%;
  transition:
    background-color 250ms ease,
    backdrop-filter 250ms ease,
    box-shadow 250ms ease;
}
